<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mở cửa thông minh</title>
        <link rel="stylesheet" href="/css/iot.css" />
        <link rel="stylesheet" href="/css/popup_control.css">
        <link rel="stylesheet" href="/css/notification.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar">
            <!-- Logo -->
            <div class="logo">
                <img src="../images/logo.png" alt="" />
            </div>

            <!-- Center Navigation Items -->
            <div class="center-nav">
                <ul class="nav-items">
                    <li><a href="#" class="active">Điều khiển</a></li>
                    <li><a href="#">Cá nhân</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                </ul>
            </div>

            <!-- Avatar -->
            <div class="avatar">
                <img src="../images/avatar.png" alt="Avatar" />
            </div>
        </nav>
        <div class="container">
            <h3 class="title">Mở cửa thông minh</h3>
            <div class="box-btn">
                <button id="buttonA" class="show-message-button btn">Mở cửa</button>
                <button id="buttonB" class="btn">Thêm vân tay</button>
                <button id="buttonC" class="show-message-button2 btn">Xoá vân tay</button>
                <button id="buttonD" class="show-message-button3 btn">Thay đổi mật khẩu</button>
            </div>
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span id="closeModal" class="close">&times;</span>
                <form id="infoForm">
                    <label for="firstName">Họ:</label>
                    <input type="text" id="firstName" required />
                    <label for="lastName">Tên:</label>
                    <input type="text" id="lastName" required />
                    <label for="password">Mật khẩu:</label>
                    <input type="password" id="password" required />
                    <button type="submit">Xác nhận</button>
                </form>
            </div>
        </div>

        <div class="notifications"></div>

        <div class="modal2">
            <div class="modal-content2">
                <span class="close2">&times;</span>
                <p>Đây là thông báo của bạn!</p>
            </div>
        </div>

        <div class="modal3">
            <div class="modal-content3">
                <span class="close3">&times;</span>
                <p>Đây là thông báo của bạn!</p>
            </div>
        </div>

        <div class="modal4">
            <div class="modal-content4">
                <span class="close4">&times;</span>
                <p>Đây là thông báo của bạn!</p>
            </div>
        </div>
        <!-- <div class="buttons">
            <button id="success">Success</button>
            <button id="error">Error</button>
            <button id="warning">Warning</button>
            <button id="info">Info</button>
        </div> -->

        <script src="/js/iot.js"></script>
        <script src="/js/notification.js"></script>
    </body>
</html>
